.movie-item {
    width: 100%;
    min-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(71, 71, 71);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.movie-header {
    display: flex;
    align-items: center;
}

.movie-header h3, .movie-header p {
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
}

.movie-overview {
    margin-top: 20px;
}

.rating span {
    color: #f1c40f;
}